/*
 * Globals
 */
@font-face {
  font-family: 'orbitron-light';
  src: url('/fonts/orbitron-light.eot');
  src: local('☺'), url('/fonts/orbitron-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.datepicker {
  z-index: 1151 !important;
}

/*Overwrite some default lib style*/
u{
  position: relative;
  top:10px;
  font-size:13px;
  cursor: pointer;
}

textarea{
  resize:none;
}

.datepicker-dropdown{
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0s;
  transition: 0s; 
}

.btn-default{
  background-color: #656B6E;
}

.btn-default:hover{
  background-color: #828586;
}


/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color:#222;
}
body {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-size:15px;
  overflow:hidden;
  min-width: 1024px;
}

body.symbolic{
  background: url('/img/symIO.png') 0 0 no-repeat;
  background-size:cover;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  position:relative;
  width: 100%;
  height: 100%;
  background: rgba(33,33,33,0.75);
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  overflow:hidden;
  min-width: 1024px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor:default;
}

.main-container {
  margin-right: auto;
  margin-left: auto;
  height:100%;
}

.inner {
  position: relative;
  padding: 25px 30px 0px 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'orbitron-light',Sans-Serif;
}

#room-admin{
  position: absolute;
  left: 5px;
  top: 25px;
  cursor:pointer;
}
/*
 * Footer
 */

.site-footer p{
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  font-size: 10px;
  font-family: 'orbitron-light',Sans-Serif;
}


.left-container{
  position:absolute;
  top:0px;
  left: -200px;
  height:100%;
  width:200px;
  background:rgba(48,40,40,0.43);
  padding: 10px 20px;
  border-right:1px solid #333;
  box-shadow: 1px 0px 5px rgba(0,0,0,.75);
}

#room-list-container, #pm-contact-container{
  position:relative;
  height: 50%;
  overflow-y:auto;
}

#room-list{
  padding-left:15px;
}

#new-room{
  position:absolute;
  right: 20px;
  top: 15px;
}

#new-room, #lounge, #room-list > li{
  cursor:pointer;
}

#new-room:hover, #lounge:hover, #room-list > li:hover{
  color:rgb(252, 248, 162);
}

#user-panel{
  position:absolute;
  top: 20px;
  right: 40px;
}

#user-panel > button{
  background: transparent;
  *background: #333;
  outline: none;
}

#user-panel > .dropdown-menu{
  width:125px;
  min-width:125px;
  margin-top:-8px;
  margin-left:-15px;
  background:rgba(48,40,40,0.43);
  border:1px solid #333;
  box-shadow: 1px 0px 5px rgba(0,0,0,.75);
}

#user-panel > .dropdown-inverse > li > a:hover{
  color:#fff;
  cursor: pointer;
}

#user-panel.open > .dropdown-menu{
  margin-top:0px !important;
} 

#chat-panel{
  position:relative;
  height:400px;
  margin:30px;
  padding: 20px 0px;
  border:1px solid rgba(0,0,0,0.5);
  border-radius: 10px 10px 2px 2px;
  -webkit-box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 7px rgba(255,255,255,0.2),
    inset 0 -80px 20px rgba(255,255,255,0.15),
    inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 7px rgba(255,255,255,0.2),
    inset 0 -80px 20px rgba(255,255,255,0.15),
    inset 0 -15px 30px rgba(0,0,0,0.3);
  box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 7px rgba(255,255,255,0.2),
    inset 0 -80px 20px rgba(255,255,255,0.15),
    inset 0 -15px 30px rgba(0,0,0,0.3);
  background:rgba(0,0,0,0.25);
}

#online-list-container{
  position:absolute;
  width: 180px;
  height:200px;
  top:0px;
  right:-180px;
  padding:20px 5px;
  border:1px solid rgba(0,0,0,0.5);
  border-radius: 10px 10px 2px 2px;
  -webkit-box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 7px rgba(255,255,255,0.2),
    inset 0 0px 20px rgba(255,255,255,0.15),
    inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 7px rgba(255,255,255,0.2),
    inset 0 0px 20px rgba(255,255,255,0.15),
    inset 0 -15px 30px rgba(0,0,0,0.3);
  box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 7px rgba(255,255,255,0.2),
    inset 0 0px 20px rgba(255,255,255,0.15),
    inset 0 -15px 30px rgba(0,0,0,0.3);
  background:rgba(0,0,0,0.25);
}

#messages{
  padding:0px 20px;
  overflow: auto;
}

#online-list{
  overflow: auto;
}

#chat-input{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height:80px;
  background: transparent;
  color: #eee;
  border-top:2px solid rgba(92,92,92,0.6);
}

#m{
  position: relative;
  width:100%;
  height:80px;
  padding-right: 70px;
  background: transparent;
  border:none;
  outline:none;
  font-size: 14px;
}

#m-send{
  position: absolute;
  bottom:10px;
  right:8px;
  
}

.session-container{
  width:550px;
}

.chat-container{
  width:62%;
}

#adminModal .checkbox{
  cursor:pointer;
}

#adminModal .boot, #adminModal .delete{
  padding:0px 10px;
  cursor: pointer;
  font-size:13px;
}

#adminModal .modal-content, #profileModal .modal-content, #roomPrompt .modal-content{
  color: #999;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 10px 10px 2px 2px;
  -webkit-box-shadow: 0 2px 6px rgba(255, 32, 32, 0.5), inset 0 1px rgba(223, 134, 134, 0.3), inset 0 7px rgba(226, 149, 149, 0.2), inset 0 15px 20px rgba(255, 255, 255, 0.05), inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 6px rgba(255, 32, 32, 0.5), inset 0 1px rgba(223, 134, 134, 0.3), inset 0 7px rgba(226, 149, 149, 0.2), inset 0 15px 20px rgba(255, 255, 255, 0.05), inset 0 -15px 30px rgba(0,0,0,0.3);
  box-shadow: 0 2px 6px rgba(255, 32, 32, 0.5), inset 0 1px rgba(223, 134, 134, 0.3), inset 0 7px rgba(226, 149, 149, 0.2), inset 0 15px 20px rgba(255, 255, 255, 0.05), inset 0 -15px 30px rgba(0,0,0,0.3);
  background: rgba(0, 0, 0, 0.75);
}

#adminModal .modal-header, #profileModal .modal-header, #roomPrompt .modal-header{
  border-bottom: 1px solid #222;
}

#roomPrompt .modal-footer{
  border-top: 1px solid #222;
}

#adminModal .modal-title, #adminModal .modal-header .close, #adminModal .checkbox.checked, #adminModal .checkbox.checked .second-icon, #profileModal .modal-title, #profileModal .modal-header .close, #roomPrompt .modal-header .close{
  color:#862828;
  text-shadow: 0px 1px 2px #333;
  opacity: 1;
  outline:none;
}

#adminModal .checkbox.disabled, #adminModal .checkbox.disabled .second-icon, #adminModal .checkbox.disabled .first-icon{
  color: #555;
  cursor: default;
}

#adminModal .modal-body, #profileModal .modal-body, #roomPrompt .modal-body{
  border-top: 1px solid #222;
}

#adminModal #adminTab.nav-tabs{
  border-bottom: 1px solid #333;
}

#adminModal #adminTab.nav-tabs .tab{
  cursor:default;
}

#adminModal #adminTab.nav-tabs>li.active>a, #adminModal #adminTab.nav-tabs>li.active>a:hover, #adminModal #adminTab.nav-tabs>li.active>a:focus{
  color:#999;
  border-bottom-color: transparent;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 10px 10px 2px 2px;
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.05), inset 1px 2px rgba(255,255,255,0.1), inset 0 10px 20px rgba(255,255,255,0.15), inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.05), inset 1px 2px rgba(255,255,255,0.1), inset 0 10px 20px rgba(255,255,255,0.15), inset 0 -15px 30px rgba(0,0,0,0.3);
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.05), inset 1px 2px rgba(255,255,255,0.1), inset 0 10px 20px rgba(255,255,255,0.15), inset 0 -15px 30px rgba(0,0,0,0.3);
  background: rgba(0,0,0,0.4);
}

#adminModal #adminTab.nav-tabs>li>a{
  color:#555;
}

#adminModal #adminTab.nav-tabs>li>a:hover{
  color:#777;
  border: 1px solid transparent;
  border-bottom: 1px solid #222;
  background: rgba(0,0,0,0.4);
}

#adminModal .tab-content{
  font-size: 13px !important;
}

#adminModal .table>thead>tr>th, #profileModal .table td{
  border:none;
}

#adminModal .table>tbody>tr>td{
  border-color:#222;
}

#adminModal .checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

#adminModal #delete-room{
  position: absolute;
  right: 15px;
  top: 13px;
  padding: 7px 10px;
}

#adminModal .btn-danger{
  color: #aaa;
}

#adminModal .btn-danger:hover{
  color:#eee;
}

#adminModal .btn-danger, .confirm-box .btn-danger{
  background-color: #862828;
}

#adminModal .btn-danger:hover, .confirm-box .btn-danger:hover{
  background-color: #B93528;
}

#adminModal .input-group-addon, #profileModal .input-group-addon{
  padding:8px 10px;
  background-color: transparent;
  border: 1px solid #353636;
}

#adminModal input, #profileModal input, #profileModal textarea, .pm-content textarea, .pm-content textarea:focus, #roomPrompt input, #pm-contact-container input, #pm-contact-container .form-control + .input-icon{
  background:transparent;
  border-color:#353636;
  color:#eee;
  font-size:13px;
}

#adminModal #chatHistory-pane{
  padding-top:15px;
}

#adminModal .modal-body button, #roomPrompt .modal-footer button, #profileModal .modal-body button, .confirm-box button{
  margin: 0px 2px;
  padding: 7px 10px;
  font-size: 14px;
  outline:none;
}

#adminModal #chatHistory-pane .outer-container{
  overflow: auto;
}

#adminModal #constraints-container .constraint{
  background-color: #f1c40f;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  margin: 5px;
}

#profileModal .edit-mode{
  display: none;
}

#pm-contact-container .form-group{
  margin-bottom: 5px;
}

.contact-item{
  position: relative;
  margin-bottom: 5px;
  cursor:pointer;
}

.contact-item img{
  position: relative;
  left:5px;
  height:35px;
  width:35px;
}

.contact-item span{
  position: relative;
  padding-left: 10px;
  line-height:35px;
  font-size:13px;
}

#pm-container{
  position: fixed;
  right:0px;
  bottom: 0px;
  height:100%;
  visibility: hidden
}

.pm-item{
  position: relative;
  float:right;
  margin-left: 1px;
  height: 100%;
  font-size:13px;
  color:#eee;
}

.pm-box-outer{
  width: 220px;
}

.pm-box-inner{
  position: absolute;
  bottom: 0px;
  width:100%;
  visibility: visible;
}

.pm-header{
  height:30px;
  line-height: 30px;
  padding: 0px 10px;
  width: 100%;
  background: rgba(255,163,0,0.8);
}

.pm-content{
  position: relative;
  background: rgba(48,40,40,0.43);
  padding: 10px;
  width:100%;
  display:none;
}

.pm-item.active .pm-header{
  background: rgb(255,163,0);
}

.pm-item.active .pm-content{
  background: rgb(48,40,40);
  display: block;
}

.pm-header .pm-close{
  float:right;
  cursor:pointer;
}

.pm-input{
  width:100%;
  padding:3px;
}


.oldMessage{
  color:#888;
}

#adminModal .modal-content .tab-pane, .pm-message-container{
  overflow-x: hidden;
  overflow-y: auto;
}

#fill-info-form .avatar-container{
  position: relative;
  width:230px;
  height:230px;
  line-height: 230px;
}

#profileModal .avatar-container{
  position: relative;
  width:150px;
  height:150px;
  line-height: 150px;
}

.avatar, .avatar-upload{
  position: absolute;
  width:100%;
  height:100%;
}

.avatar-container span, .avatar-upload-hint{
  font-size:12px;
  color:#eee;
}

.avatar-upload .backdrop{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  text-align: center;
  cursor:pointer;
}

.avatar-upload:hover .backdrop{
  opacity: 1;
}

.offline-alert .msg{
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -125px;
  z-index: 1030;
}

.confirm-box{
  position:fixed;
  left:50%;
  top:50%;
  width:360px;
  height:160px;
  margin-left: -180px;
  margin-top: -140px;
  padding:10px 30px 30px 30px;
  z-index:9999;
  color: #aaa;
  border:1px solid rgba(0,0,0,0.5);
  border-radius: 10px;
  -webkit-box-shadow:inset 0 1px rgba(255,255,255,0.3), inset 0px 6px rgba(255,255,255,0.2), inset 2px 0px 10px rgba(255,255,255,0.15), inset -5px 0px 15px rgba(255,255,255,0.15);
  -moz-box-shadow:inset 0 1px rgba(255,255,255,0.3), inset 0px 6px rgba(255,255,255,0.2), inset 2px 0px 10px rgba(255,255,255,0.15), inset -5px 0px 15px rgba(255,255,255,0.15);
  box-shadow:inset 0 1px rgba(255,255,255,0.3), inset 0px 6px rgba(255,255,255,0.2), inset 2px 0px 10px rgba(255,255,255,0.15), inset -5px 0px 15px rgba(255,255,255,0.15);
  background:rgba(0,0,0,0.75);
  text-align: center;
}

.confirm-box .msg{
  line-height: 50px;
  font-size: 16px;
}

.confirm-container .modal-backdrop{
  z-index: 9999;
  cursor: not-allowed;
}

@media (max-height: 600px){
  #adminModal .modal-content .tab-pane{
    height:200px;
  }

  #adminModal #chatHistory-pane .outer-container{
    height:128px;
  }

  .pm-message-container{
    max-height:300px;
  }
}

@media (min-height:600px) and (max-height: 1000px){
  #adminModal .modal-content .tab-pane{
    height:400px;
  }

  #adminModal #chatHistory-pane .outer-container{
    height:328px;
  }

  .pm-message-container{
    max-height:500px;
  }
}

@media (min-height: 1000px){
  #adminModal .modal-content .tab-pane{
    height:600px;
  }

  #adminModal #chatHistory-pane .outer-container{
    height:528px;
  }

  .pm-message-container{
    max-height:700px;
  }
}

